@import "./Styles/_colors.scss";
@import "./Pages/CreatePostPage/CreatePostPage.scss";
@import "./Components/CreatePostForm/_CreatePostForm.scss";
@import "./Components/Modal/ConfirmModal";
@import "./Components/Modal/Modal";
@import "./Components/Menu/Menu";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
